<!DOCTYPE html>
<html lang="vn" ng-app="caringbox">
<head>
    <meta charset="UTF-8">
    <title>Tầm soát ung thư đột quỵ</title>
    <link rel="stylesheet" href="assets/css/style.min.css" type="text/css">
    <script src="scripts/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="scripts/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
    <!--Angular-->
    <script src="scripts/angular/angular.min.js" type="text/javascript"></script>
    <script src="scripts/angular/angular-animate.min.js" type="text/javascript"></script>
    <script src="scripts/angular/angular-touch.min.js" type="text/javascript"></script>
    <script src="scripts/angular/angular-ui-bootstrap.js" type="text/javascript"></script>
    <script src="scripts/angular/angular-ui-bootstrap-tpls.js" type="text/javascript"></script>
</head>
<body ng-controller="TamSoatUngThuDotQuyController">
    <section id="one" class="container-fluid">
        <div class="container">
            <div class="left col-md-5">
                <h3>Tầm soát</h3>
                <h1>UNG THƯ ĐỘT QUỴ</h1>
                <p>Lần đầu tiên hoàn toàn miễn phí</p>
                <ul class="list-unstyled">
                    <li class="list-unstyled-item"><i class="fa fa-check"></i>Đo chỉ số chống Oxy Hóa</li>
                    <li class="list-unstyled-item"><i class="fa fa-check"></i>Đo tỉ lệ mỡ nội tạng</li>
                    <li class="list-unstyled-item"><i class="fa fa-check"></i>Đo mức độ lão hóa cơ thể</li>
                </ul>
            </div>
            <div class="right col-md-7">
                <iframe width="100%" height="350" src="https://www.youtube.com/embed/X3U9LG0ksyo" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>

        <div class="email-contact">
            <p>Nhập email của bạn bên dưới để tham gia miễn phí</p>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Nhập email của bạn" ng-model="data.email">
                <div class="input-group-addon" ng-click="event.onOpenForm()">GỬI</div>
            </div>
        </div>
    </section>

    <section id="two" class="container-fluid">
        <div class="title hidden-sm hidden-xs"><img src="assets/img/tam-soat-ung-thu-dot-quy/section-two-header.png"></div>
        <div class="left col-md-6">
            <div class="text-content">
                <h3>Ung thư đột quỵ đang là vấn nạn quốc gia</h3>
                <ul class="list-unstyled">
                    <li><i class="fa fa-warning"></i>Việt Nam đứng thứ 2 Thế Giới về tỉ lệ ung thư</li>
                    <li><i class="fa fa-warning"></i>75,000 trường hợp tử vong mỗi năm</li>
                    <li><i class="fa fa-warning"></i>Hơn 200,000 người mắc mới</li>
                    <li><i class="fa fa-warning"></i>Ngày càng gia tăng, độ tuổi ngày càng trẻ hóa</li>
                </ul>
            </div>
        </div>
        <div class="right col-md-6">
            <div class="text-content">
                <h3>Báo động đỏ ô nhiễm môi trường</h3>
                <ul class="list-unstyled">
                    <li><i class="fa fa-warning"></i>Nguồn không khí nhiễm chì</li>
                    <li><i class="fa fa-warning"></i>Nguồn nước nhiễm thủy ngân</li>
                    <li><i class="fa fa-warning"></i>Thực phẩm bẩn tràn lan</li>
                    <li><i class="fa fa-warning"></i>Hóa chất độc hại quá liều lượng cho phép</li>
                </ul>
            </div>
        </div>
    </section>

    <section id="three">
        <div id="quenstion" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#quenstion" data-slide-to="0" class="active"></li>
                <li data-target="#quenstion" data-slide-to="1"></li>
                <li data-target="#quenstion" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="item-inner container">
                        <p>Tại sao phải ốm nặng đến <span>NHẬP VIỆN</span> thì mới<br>quan tâm đến <span>SỨC KHỎE</span> của mình?</p>
                    </div>
                </div>
                <div class="item">
                    <div class="item-inner container">
                        <p>Làm thế nào để biết <span>cơ thể</span> bạn có đang<br>trong tình trạng <span>báo động</span> đỏ hay không?</p>
                    </div>
                </div>
                <div class="item">
                    <div class="item-inner container">
                        <p>Nếu không phải ngay <span>bây giờ</span> chúng ta cùng<br>chủ động chăm sóc sức khỏe thì <span>khi nào</span>?</p>
                    </div>
                </div>
            </div>

            <a class="left carousel-control" href="#quenstion" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#quenstion" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>

    <section id="four" class="container-fluid text-center">
        <h1 class="title">BẠN CÓ BIẾT?</h1>
        <div class="container">
            <p class="col-md-8 col-md-offset-2">Ung thư là quá trình Oxy hóa từ các gốc tự do (còn được gọi là độc tố) tấn công các tế bào khỏe mạnh liên tục trong 1 thời gian dài. Chất chống oxy hóa có khả năng trung hòa được các gốc tự do. Do đó, chỉ số chống Oxy hóa của cơ thể càng cao, thì nguy cơ ung thư thấp. Ngược lại, chỉ số càng thấp thì nguy cơ ung thư sẽ rất cao</p>
        </div>
        <h3>Biophotonic Scanner</h3>
        <div class="container pic text-center">
            <img src="assets/img/tam-soat-ung-thu-dot-quy/bio-progress.jpg">
        </div>
    </section>

    <section id="five" class="container-fluid text-center">
        <div class="pic">
            <img src="assets/img/tam-soat-ung-thu-dot-quy/banner-bio.jpg">
        </div>
    </section>

    <section id="six" class="container-fluid">
        <p>Tại sao nên</p>
        <h3 class="grey">NGĂN NGỪA UNG THƯ ĐỘT QUỴ</h3>
        <p>bằng</p>
        <h3>Biophotonic Scanner</h3>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-5">
                    <div class="pic">
                        <img src="assets/img/tam-soat-ung-thu-dot-quy/bio-product.jpg">
                    </div>
                </div>
                <div class="col-sm-6 col-md-7 text-content">
                    <div class="small">Biophotonic Scanner</div>
                    <div class="title">Công nghệ độc quyền</div>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-angle-right"></i>Đo được chỉ số chống Oxy Hóa</li>
                        <li><i class="fa fa-angle-right"></i>Trong vòng 30s</li>
                        <li><i class="fa fa-angle-right"></i>Không gây đau đớn</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-offset-4 col-md-3 text-content">
                    <div class="small">Biophotonic Scanner</div>
                    <div class="title">Đã được kiểm chứng</div>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-angle-right"></i>Trên 54 quốc gia</li>
                        <li><i class="fa fa-angle-right"></i>5,000,000 lượt đo</li>
                        <li><i class="fa fa-angle-right"></i>Kết quả chính xác</li>
                    </ul>
                </div>
                <div class="col-sm-8 col-md-5">
                    <iframe src="https://www.youtube.com/embed/7slIA5U_ijk" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-5">
                    <div class="pic">
                        <img src="assets/img/tam-soat-ung-thu-dot-quy/family.jpg">
                    </div>
                </div>
                <div class="col-sm-6 col-md-7 text-content">
                    <div class="small">Biophotonic Scanner</div>
                    <div class="title">Món quà vô giá</div>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-angle-right"></i>Báo trước nguy cơ tìm ẩn</li>
                        <li><i class="fa fa-angle-right"></i>Bảo vệ sức khỏe của cả gia đình</li>
                        <li><i class="fa fa-angle-right"></i>Không còn nỗi sơ ung thư đột quị</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="seven">
        <div id="feedback" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#feedback" data-slide-to="0" class="active"></li>
                <li data-target="#feedback" data-slide-to="1"></li>
                <li data-target="#feedback" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="item-inner container">
                        <div class="left"><div class="pic"><img src="assets/img/tam-soat-ung-thu-dot-quy/avatar.jpg"></div></div>
                        <div class="right">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                            <div class="divine"></div>
                            <div class="author">
                                <h3>LINH TRANG</h3>
                                <span class="small"><i>Đại sứ thương hiệu Pharmanex</i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-inner container">
                        <div class="left"><div class="pic"><img src="assets/img/tam-soat-ung-thu-dot-quy/avatar.jpg"></div></div>
                        <div class="right">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                            <div class="divine"></div>
                            <div class="author">
                                <h3>LINH TRANG</h3>
                                <span class="small"><i>Đại sứ thương hiệu Pharmanex</i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-inner container">
                        <div class="left"><div class="pic"><img src="assets/img/tam-soat-ung-thu-dot-quy/avatar.jpg"></div></div>
                        <div class="right">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                            <div class="divine"></div>
                            <div class="author">
                                <h3>LINH TRANG</h3>
                                <span class="small"><i>Đại sứ thương hiệu Pharmanex</i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="eight">
        <div class="header text-center">
            <h1>HỎI & ĐÁP</h1>
            <p>Những câu hỏi và trả lời phổ biến</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="question-list">
                        <div class="item">
                            <div class="title">Ut pellentesque orci ornare</div>
                            <p>Cras dapibus tincidunt diam, non maximus odio faucibus at. Quisque congue iaculis leo placerat lobortis. Nulla bibendum mattis nibh, at tincidunt tortor vehicula ut</p>
                        </div>
                        <div class="item">
                            <div class="title">Ut pellentesque orci ornare</div>
                            <p>Cras dapibus tincidunt diam, non maximus odio faucibus at. Quisque congue iaculis leo placerat lobortis. Nulla bibendum mattis nibh, at tincidunt tortor vehicula ut</p>
                        </div>
                        <div class="item">
                            <div class="title">Ut pellentesque orci ornare</div>
                            <p>Cras dapibus tincidunt diam, non maximus odio faucibus at. Quisque congue iaculis leo placerat lobortis. Nulla bibendum mattis nibh, at tincidunt tortor vehicula ut</p>
                        </div>
                        <div class="item">
                            <div class="title">Ut pellentesque orci ornare</div>
                            <p>Cras dapibus tincidunt diam, non maximus odio faucibus at. Quisque congue iaculis leo placerat lobortis. Nulla bibendum mattis nibh, at tincidunt tortor vehicula ut</p>
                        </div>
                        <div class="item">
                            <div class="title">Ut pellentesque orci ornare</div>
                            <p>Cras dapibus tincidunt diam, non maximus odio faucibus at. Quisque congue iaculis leo placerat lobortis. Nulla bibendum mattis nibh, at tincidunt tortor vehicula ut</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-offset-3 col-sm-6 col-md-4">
                    <div class="contact-block">
                        <h3>KHÔNG TÌM THẤY CÂU TRẢ LỜI CỦA BẠN?</h3>
                        <div class="text-center">Liên hệ với chúng tôi</div>
                        <button class="btn btn-trans" ng-click="event.onOpenForm()"><i class="fa fa-envelope"></i>EMAIL</button>
                        <button class="btn btn-trans"><i class="fa fa-facebook-f"></i>FACEBOOK</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Angular modules-->
    <script src="app/main.js" type="text/javascript"></script>
    <script src="app/controllers/TamSoatUngThuDotQuyController.js" type="text/javascript"></script>
</body>
</html>