$font-size-big: 30px;

.animation {
  @include vendor(transition, ease-out 0.3s);
}

.image-fit {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.container-fluid {
  overflow: hidden;
}

body {
  @extend .open-sans;
  font-size: 14px;
  overflow-x: hidden;
}

#one {
  .item {
    height: 550px;

    &-inner {
      height: 100%;
      width: 100%;

      img {
        @extend .image-fit;
      }
    }

    &-text {
      @include flex-box(0, 0, 0, 0);
      @extend .center-middle;

      .bordered {
        padding: 30px;
        border: 2px dashed white;
      }

      h1 {
        @extend .utm-impact;
        color: white;
        font-size: 48px;
        margin: 0;
      }

      .fa {
        font-size: 24px;
        color: white;
      }
    }
  }
}