@import "../fonts/UTM-Androgyne/fonts.css";

.utm-androgyne {
  font-family: 'UTM Androgyne';
}

$font-size-large: 30px;
$font-size-medium: 24px;
$font-size-normal: 18px;
$font-size-small: 14px;
$black: #333333;
$dark: #4f4d4e;
$blue: #04abd7;
$darkblue: #003c69;

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.animation {
  @include vendor(transition, ease-out 0.3s);
}

.image-fit {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.btn {
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: $font-size-normal;
  font-weight: 600;
  letter-spacing: 1px;
}

.separate {
  width: 120px;
  height: 3px;
  display: inline-block;
  background: rgba($dark, 0.5);
}

body {
  @extend .open-sans;
  font-size: $font-size-normal;
  overflow-x: hidden;
}

#one {
  height: 550px;
  @extend .center-middle;
  background: url(../../assets/img/du-lich-nuoc-ngoai-mien-phi/bg-1.jpg) no-repeat center center;
  background-size: cover;

  .container-inner {
    width: 60%;
    padding: 30px 50px;
    border: 2px solid white;
  }

  h3 {
    color: white;
    font-weight: 600;
  }

  h1 {
    @extend .utm-androgyne;
    color: $blue;
  }

   p {
     margin: 15px 0;
     color: $darkblue;
     font-size: $font-size-medium;
   }
}

#about-us {
  height: 480px;
  background: url(../../assets/img/du-lich-nuoc-ngoai-mien-phi/world-map.jpg) no-repeat center center;
  background-size: cover;

  .container {
    display: flex;
    height: 100%;
  }

  .left {
    flex-shrink: 0;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      color: $black;
      margin-bottom: 30px;
    }

    p {
      font-size: $font-size-medium;
      line-height: 30px;
    }
  }

  .right {
    position: relative;
    width: 100%;
    height: 100%;

    .pic {
      position: absolute;
      top: -30px;
      right: 0;

      img {
        @extend .image-fit;
      }
    }
  }
}

#travel-yearly {
  padding: 70px 0;

  h2 {
    margin: 30px 0;
  }

  .list {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    &-inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: calc(310px * 3);
      box-shadow: 0 0 20px rgba(black, 0.2);
    }

    &-item {
      width: 310px;
      height: 310px;

      &.text {
        @extend .center-middle;
        flex-direction: column;
        padding: 15px;
        position: relative;

        &:before {
          content: '';
          width: 0;
          height: 0;
          border: 10px solid transparent;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }

        &.arrow-bottom:before {
          bottom: -20px;
          border-top-color: white;
        }

        &.arrow-top:before {
          top: -20px;
          border-bottom-color: white;
        }

        h2 {
          margin: 0 0 15px;
        }

        p {
          text-align: center;
        }
      }

      img {
        @extend .image-fit;
      }
    }
  }
}