@import "../fonts/UTM-Androgyne/fonts.css";

.utm-androgyne {
  font-family: 'UTM Androgyne';
}

.font-awesome {
  font-family: "FontAwesome";
}

$font-size-large: 30px;
$font-size-medium: 24px;
$font-size-normal: 18px;
$font-size-small: 14px;
$black: #333333;
$dark: #4f4d4e;
$blue: #04abd7;
$darkblue: #003c69;

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.animation {
  @include vendor(transition, ease-out 0.3s);
}

.image-fit {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.btn {
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: $font-size-normal;
  font-weight: 600;
  letter-spacing: 1px;
}

.separate {
  width: 120px;
  height: 3px;
  display: inline-block;
  background: rgba($dark, 0.5);
}

.padding-default {
  padding: 70px 0;
}

@media (max-width: 1023px) {
  .padding-default {
    padding: 40px 0 !important;
  }
}

body {
  @extend .open-sans;
  font-size: $font-size-normal;
  overflow-x: hidden;
}

#one {
  height: 550px;
  @extend .center-middle;
  background: url(../../assets/img/du-lich-nuoc-ngoai-mien-phi/bg-1.jpg) no-repeat center center;
  background-size: cover;

  .container-inner {
    width: 60%;
    padding: 30px 50px;
    border: 2px solid white;
  }

  h3 {
    color: white;
    font-weight: 600;
  }

  h1 {
    @extend .utm-androgyne;
    color: $blue;
  }

   p {
     margin: 15px 0;
     color: $darkblue;
     font-size: $font-size-medium;
 }

  @media (max-width: 1023px) {
    .container-inner {
      width: 90%;
      padding: 15px;
    }
  }
}

#about-us {
  height: 480px;
  background: url(../../assets/img/du-lich-nuoc-ngoai-mien-phi/world-map.jpg) no-repeat center center;
  background-size: cover;

  .container {
    display: flex;
    height: 100%;
  }

  .left {
    flex-shrink: 0;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      color: $black;
      margin-bottom: 30px;
    }

    p {
      font-size: $font-size-medium;
      line-height: 30px;
    }
  }

  .right {
    position: relative;
    width: 100%;
    height: 100%;

    .pic {
      position: absolute;
      top: -30px;
      right: 0;

      img {
        @extend .image-fit;
      }
    }
  }

  @media (max-width: 1023px) {
    height: auto;

    .container {
      height: auto;
      flex-direction: column;
    }

    .left, .right {
      width: 100%;
      padding: 15px;
    }

    .left {
      padding-top: 50px;
    }

    .right {
      .pic {
        position: relative;
        top: 0;
      }
    }
  }
}

#travel-yearly {
  padding: 70px 0;

  h2 {
    margin: 30px 0;
  }

  .list {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    &-inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: calc(310px * 3);
      box-shadow: 0 0 20px rgba(black, 0.2);
    }

    &-item {
      width: 310px;
      height: 310px;

      &.text {
        @extend .center-middle;
        flex-direction: column;
        padding: 15px;
        position: relative;

        &:before {
          content: '';
          width: 0;
          height: 0;
          border: 10px solid transparent;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }

        &.arrow-bottom:before {
          bottom: -20px;
          border-top-color: white;
        }

        &.arrow-top:before {
          top: -20px;
          border-bottom-color: white;
        }

        h2 {
          margin: 0 0 15px;
        }

        p {
          text-align: center;
        }
      }

      img {
        @extend .image-fit;
      }
    }
  }

  @media (max-width: 1023px) {
    .list-inner {
      width: calc(310px * 2);
    }
  }

  @media (max-width: 479px) {
    .list-inner {
      width: 310px;
    }

    .list-item:before {
      content: unset !important;
    }
  }
}

#instruction {
  @extend .center-middle;
  height: 550px;
  background: url(../../assets/img/du-lich-nuoc-ngoai-mien-phi/bg-2.jpg) no-repeat center center;
  background-size: cover;

  .container-inner {
    width: 60%;
    padding: 35px 50px;
    background: rgba(#514426, 0.5);
    color: white;
    text-align: center;

    .separate {
      background: rgba(white, 0.5);
    }

    h2 {
      margin-top: 15px;
    }

    h3 {
      margin-top: 30px;
      display: flex;
      align-items: center;

      span {
        font-weight: 600;
        flex-shrink: 0;
        margin: 0 30px;
      }

      &:before, &:after {
        content: '';
        border-bottom: 3px dashed white;
        width: 100%;
      }
    }

    .box {
      border: 3px dashed white;
      border-top: 0;
      margin-top: -5px;
      padding: 20px 40px;
    }
  }

  @media (max-width: 1023px) {
    .container-inner {
      width: 90%;
      padding: 15px 30px;
    }
  }
}

#how-we-did {
  padding-bottom: 215px;

  .content {
    margin-top: 145px;
    display: flex;

    .left, .right {
      cursor: pointer;
      position: relative;

      &:hover {
        h3 {
          color: $blue;
          top: 0;
          @include vendor(transform, translateY(-200%));
        }

        .left-inner, .right-inner {
          opacity: 1;
        }
      }

      h3 {
        text-align: center;
        width: 100%;
        position: absolute;
        top: 45%;
        @include vendor(transition, ease-out 0.5s);
      }

      &-inner {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -15px;
        opacity: 0;
        @include vendor(transition, ease-out 0.5s);

        .item {
          display: flex;
          align-items: center;
          margin-bottom: 88px;

          &-icon {
            width: 66px;
            height: 74px;
            margin: 0 35px;
            background: url(../../assets/img/du-lich-nuoc-ngoai-mien-phi/box.jpg) no-repeat center center;
            @extend .center-middle;

            .fa {
              font-size: $font-size-medium;
              color: $blue;
            }
          }

          &-text {
            h4 {
              font-weight: 600;
            }

            span {
              font-size: 16px;
            }
          }
        }
      }
    }

    .left {
      width: 100%;

      .item {
        justify-content: flex-end;

        &-text {
          text-align: right;
          width: 50%;
        }
      }
    }

    .middle {
      flex-shrink: 0;
    }

    .right {
      width: 100%;

      .item {
        justify-content: flex-start;

        &-text {
          text-align: left;
          width: 50%;
        }
      }
    }
  }
}

#how-we-did-mobile {
  h2 {
    margin-bottom: 30px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .parent {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 30px;

    h3 {
      width: 100%;
      text-align: center;
    }

    .item {
      display: flex;
      align-items: center;
      margin: 15px 0;

      &-icon {
        flex-shrink: 0;
        width: 66px;
        height: 74px;
        margin: 0 35px;
        background: url(../../assets/img/du-lich-nuoc-ngoai-mien-phi/box.jpg) no-repeat center center;
        @extend .center-middle;

        .fa {
          font-size: $font-size-medium;
          color: $blue;
        }
      }

      &-text {
        h4 {
          font-weight: 600;
        }

        span {
          font-size: 16px;
        }
      }
    }
  }

  @media (max-width: 479px) {
    .parent {
      .item {
        flex-direction: column;

        &-text {
          text-align: center;
        }
      }
    }
  }
}

#reason-success {
  padding-bottom: 250px;
  background: url(../../assets/img/du-lich-nuoc-ngoai-mien-phi/bg-3.jpg) no-repeat center bottom;
  background-size: cover;

  .container-inner {
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;

    .item {
      width: 387px;
      height: 605px;
      color: white;
      padding-top: 20px;
      position: relative;
      margin: 0 10px;

      &.one {
        background: url(../../assets/img/du-lich-nuoc-ngoai-mien-phi/item-1.jpg) no-repeat center;
      }

      &.two {
        background: url(../../assets/img/du-lich-nuoc-ngoai-mien-phi/item-2.jpg) no-repeat center;

        .title {
          text-align: center;
        }

        ul li:before {
          content: "\f08a";
        }

        .readmore {
          color: black;
        }
      }

      &.three {
        background: url(../../assets/img/du-lich-nuoc-ngoai-mien-phi/item-3.jpg) no-repeat center;

        ul li:before {
          content: "\f0da";
        }
      }

      .title {
        font-weight: 600;
        padding: 0 30px;
        margin-top: 25px;
        margin-bottom: 10px;
      }

      h3 {
        font-weight: 700;
        text-align: center;
      }

      ul {
        padding: 0 30px;

        li {
          padding: 6px 0;
          display: flex;
          align-items: flex-start;

          &:before {
            content: "\f00c";
            @extend .font-awesome;
            margin-right: 10px;
          }
        }
      }

      .readmore {
        @include flex-box(auto, 10px, 10px, auto);
      }
    }
  }

  @media (max-width: 1023px) {
    .container-inner {
      flex-direction: column;
      align-items: center;

      .item {
        margin: 15px 0;
      }
    }
  }

  @media (max-width: 479px) {
    .container-inner {
      .item {
        width: 95%;
      }
    }
  }
}

#video, #video1 {
  .videoWrapper {
    position: relative;
    padding-bottom: 70%;
    padding-top: 25px;
    height: 0;
  }

  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#what-you-get {
  .container-inner {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 60px 0 0;

    .list {
      width: 1024px;
      height: 592px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;

      .item {
        position: relative;

        h3 {
          @include vendor(transition, ease-out 0.2s);
          @include flex-box(0, 0, 0, 0);
          @extend .center-middle;
          background: rgba(black, 0.8);
          color: white;
          opacity: 0;
          text-align: center;
          padding: 0 20px;
        }

        &:hover h3 {
          opacity: 1;
        }

        &:first-child {
          width: 240px;
          height: 309px;
          background: url(../../assets/img/du-lich-nuoc-ngoai-mien-phi/thumb-1.jpg) no-repeat center center;
          background-size: cover;
          margin-bottom: 30px;
          margin-right: 30px;
        }

        &:nth-child(2) {
          width: 240px;
          height: 253px;
          background: url(../../assets/img/du-lich-nuoc-ngoai-mien-phi/thumb-4.jpg) no-repeat -55px 0;
          background-size: auto 280px;
          margin-right: 30px;
        }

        &:nth-child(3) {
          width: 327px;
          height: 219px;
          background: url(../../assets/img/du-lich-nuoc-ngoai-mien-phi/thumb-2.jpg) no-repeat -5px -45px;
          background-size: 371px auto;
          margin-bottom: 30px;
          margin-right: 30px;
        }

        &:nth-child(4) {
          width: 327px;
          height: 343px;
          background: url(../../assets/img/du-lich-nuoc-ngoai-mien-phi/thumb-5.jpg) no-repeat -176px;
          background-size: cover;
          margin-right: 30px;
        }

        &:nth-child(5) {
          width: 427px;
          height: 315px;
          background: url(../../assets/img/du-lich-nuoc-ngoai-mien-phi/thumb-3.jpg) no-repeat center center;
          background-size: cover;
          margin-bottom: 30px;
        }

        &:nth-child(6) {
          width: 427px;
          height: 247px;
          background: url(../../assets/img/du-lich-nuoc-ngoai-mien-phi/thumb-6.jpg) no-repeat center center;
          background-size: cover;
        }
      }
    }
  }
}

#what-you-get-mobile {
  .container-inner {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0 0;

    .list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .item {
      width: 250px;
      margin-bottom: 30px;

      .pic {
        width: 250px;
        height: 250px;
        border-radius: 100%;
        overflow: hidden;

        img {
          @extend .image-fit;
        }
      }

      h3 {
        text-align: center;
      }
    }
  }
}

#testimonial {
  position: relative;
  height: 1000px;
  background: url(../../assets/img/du-lich-nuoc-ngoai-mien-phi/landscape-mountains-nature-lake.jpg) no-repeat center top;
  background-size: cover;

  h2 {
    margin-bottom: 50px;
  }

  .item {
    .fa {
      color: rgba(black, 0.5);
      font-size: $font-size-large;
      margin-bottom: 15px;
    }

    p {
      line-height: 1.5;
      font-style: italic;
    }

    .author {
      display: flex;
      align-items: center;

      .pic {
        width: 60px;
        height: 60px;
        border-radius: 60px;
        overflow: hidden;
        margin-right: 15px;

        img {
          @extend .image-fit;
        }
      }

      .name {
        color: white;
        font-weight: 600;

        span {
          font-weight: normal;
          font-style: italic;
        }
      }
    }
  }

  @media (max-width: 1023px) {
    height: 1450px;

    .item {
      text-align: center;
      margin-bottom: 50px;

      .author {
        flex-direction: column;
        margin-top: 15px;
      }

      .name {
        color: $blue !important;
      }
    }
  }
}

#form-contact {
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 450px;
  @include vendor(transform, translateX(-50%));
  background: url(../../assets/img/du-lich-nuoc-ngoai-mien-phi/texture-bg.png) no-repeat center center;
  padding: 30px;
  border-radius: 6px;

  h2 {
    font-weight: 700;
    margin: 0 0 15px;
    color: white;
    @extend .utm-androgyne;
  }

  p {
    color: white;
    text-align: center;
    margin-bottom: 15px;
  }

  .form-control {
    padding: 0 12px;
    height: 55px;
    font-size: $font-size-normal;
    border-radius: 3px;
  }

  .btn {
    width: 100%;
    height: 55px;
    line-height: 53px;
    padding: 0 12px;
    color: white;
    border-radius: 3px;
    font-weight: 700;
    letter-spacing: 2px;
  }

  @media (max-width: 479px) {
    width: 90%;
  }
}