$blue: #3366cc;
$red: #cc3333;
$yellow: #ffe50c;
$lightgrey: #f5f5f5;
$grey: #666666;

body {
  @extend .open-sans;
  font-size: 14px;
  padding-bottom: 500px;
}

#one {
  padding: 130px 0;
  background: url("../../assets/img/tam-soat-ung-thu-dot-quy/banner.jpg") no-repeat;
  background-size: cover;
  color: white;

  .left {
    h3 {
      font-size: 26px;
      font-weight: 100;
      margin: 0 0 15px;
    }

    h1 {
      font-size: 38px;
      margin: 0 0 50px;
      font-weight: 700;
    }

    p {
      font-size: 22px;
    }

    ul {
      padding-top: 10px;
      li {
        font-size: 18px;
        margin-bottom: 7px;

        i.fa {
          font-size: 16px;
          margin-right: 10px;
        }
      }
    }
  }

  .right {
    iframe {
      border: 0;
    }
  }
}

#two {
  position: relative;
  padding: 0;

  .title {
    text-align: center;
    @include flex-box(70px, 50%, auto, auto);
    margin-left: -160px;
    z-index: 1;
  }

  .left {
    background: url(../../assets/img/tam-soat-ung-thu-dot-quy/world-map.png) no-repeat center center;
    background-size: 500px auto;

    .fa {
      color: $red;
    }
  }

  .right {
    color: white;
    background: #213035 url(../../assets/img/tam-soat-ung-thu-dot-quy/smoke.png) no-repeat center center;
    background-size: cover;

    .fa {
      color: $yellow;
    }
  }

  .left, .right {
    padding: 200px 0 120px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .text-content {
      h3 {
        font-size: 20px;
        margin-bottom: 22px;
      }

      ul li {
        padding: 5px 0;

        .fa {
          margin-right: 15px;
        }
      }
    }
  }
}

#three {
  background: $lightgrey;
  padding: 40px 0;
  text-align: center;
  color: $grey;

  span {
    @extend .utm-impact;
    color: $red;
    font-size: 20px;
  }
}

#four {
  padding: 70px 0;

  h1 {
    color: rgba($grey, 0.8);
    font-size: 24px;
    margin-bottom: 20px;
    @extend .utm-impact;
  }

  p {
    color: #999999;
    line-height: 26px;
    font-weight: 100;
    font-size: 16px;
  }

  h3 {
    @extend .utm-impact;
    font-size: 20px;
    margin-bottom: 40px;
  }
}

#five {
  background: $lightgrey;
}

#six {
  padding: 70px 0;
  text-align: center;

  > p {
    color: $grey;
    font-size: 16px;
  }

  h3 {
    margin: 7px 0;
    @extend .utm-impact;

    &.grey {
      color: $grey;
    }
  }

  .row {
    margin-top: 70px;
    text-align: left;

    .pic {
      box-shadow: 0 1px 20px rgba(black, 0.05);
      max-width: 460px;

      img {
        max-width: 100%;
      }
    }

    iframe {
      border: 0;
      width: 100%;
      max-width: 460px;
      height: 300px;
    }

    .text-content {
      padding: 20px 30px;

      .small {
        color: $grey;
        margin-bottom: 7px;
      }

      .title {
        color: $blue;
        font-size: 18px;
        margin-bottom: 30px;
      }

      ul li {
        padding: 5px 0;

        .fa {
          margin-right: 10px;
        }
      }
    }
  }
}