.animation {
  @include vendor(transition, ease-out 0.3s);
}

.image-fit {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

body {
  @extend .open-sans;
  font-size: 14px;
}

#one {
  background: #e9eaec url(../../assets/img/thuc-pham-chong-ung-thu/bg-header.jpg) no-repeat center bottom;
  background-size: contain;
  min-height: 750px;
  position: relative;
}