$border-radius-base: 0 !default;
$border-radius-large: 0 !default;
$border-radius-small: 0 !default;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=vietnamese');
@import "../../vendor/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../vendor/font-awesome/scss/font-awesome";
@import "../fonts/UTM-Impact/fonts.css";

@import "../../vendor/aos/aos.css";

@import "all";

.open-sans {
  font-family: "Open Sans";
}

.utm-impact {
  font-family: 'UTM Impact';
}